{% extends 'base.html.twig' %}
{% from 'profile/form.html.twig' import userForm %}

{% block title %}
    {% trans %}
        Teacher form
    {% endtrans %}
{% endblock %}

{% block body %}
    <h2 class="page-title center-align">
        {% trans %}Staff form{% endtrans %}
    </h2>
    {{ userForm(form, true) }}
{% endblock %}