{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Participants{% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('remove_user') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="page-title center-align">
        {% trans %}Participants{% endtrans %}
    </h2>
    {% include 'profile/filters.html.twig' with {'search_path': 'profile.participants.search'} %}
    {% if users|length > 0 %}
        {% include 'profile/list.html.twig' %}
    {% else %}
        <p>{% trans %}No participants found{% endtrans %}</p>
    {% endif %}
{% endblock %}

