{% extends 'base.html.twig' %}

{% block title %}Users list view{% endblock %}



{% block body %}
<h1>Users list view</h1>

  <ul>
    {% for user in users %}

      <li><a href="{{ path('profile.view.user', {'user': user.id}) }}">
          {{ user.name }} {{ user.surname }} ( {{ user.username }} ) </a></li>

    {% endfor %}
  </ul>

{% endblock %}