{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}
        Dashboard
    {% endtrans %}
{% endblock %}

{% block body %}
    <div class="dashboard">
        {% for gr in groupsToday %}
            {% for ts in gr.timeslots %}
                {% dump(ts) %}
            {% endfor %}
        {% endfor %}
        {% if (is_granted('ROLE_TEACHER') == true and  is_granted('ROLE_ADMIN') == false ) %}
            <h5>{% trans %}My groups{% endtrans %}</h5>
            {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsUserIsTeacher} only %}
        {% endif %}
        {# not interesting for teachers, only admins and supervisors#}
        {% if is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_ADMIN') %}
            {% if groupsToday|length %}
                <div class="border-shadow">
                    <h4>{% trans %}Learning groups today{% endtrans %}</h4>
                    {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsToday} only %}
                </div>
            {% endif %}
            {% if groupsTomorrow|length %}
                <div class="border-shadow">
                    <h4>{% trans %}Learning groups tomorrow{% endtrans %}</h4>
                    {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsTomorrow} only %}
                </div>
            {% endif %}
            {% if groupsIn7Days|length %}
                <div class="border-shadow">
                    <h4>{% trans %}Learning groups in 7 days{% endtrans %}</h4>
                    {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsIn7Days} only %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}




