{% extends 'base.html.twig' %}


{% block title %}
  {% trans %}
    Dashboard
  {% endtrans %}
{% endblock %}

{% block body %}
  <h2 class="page-title center-align">
  </h2>
  <div>
    {#Teacher can see r#}
    {% if is_granted('ROLE_TEACHER') %}
        <h5>{% trans %}My groups{% endtrans %}</h5>
        {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsUserIsTeacher} only %}
    {% endif %}

    {# not interesting for teachers#}
    {% if is_granted('ROLE_TEACHER') == false %}
      {% if groupsToday|length %}
          <h5>{% trans %}Learning groups today{% endtrans %}</h5>
              {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsToday} only %}
      {% endif %}
      {% if groupsTomorrow|length %}
          <h5>{% trans %}Learning groups tomorrow{% endtrans %}</h5>
          {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsTomorrow} only %}
      {% endif %}
      {% if groupsIn7Days|length %}
          <h5>{% trans %}Learning groups in 7 days{% endtrans %}</h5>
          {% include 'group/group_table_with_schedule.html.twig' with { 'groups': groupsIn7Days} only %}
      {% endif %}
    {% endif %}
  </div>


{% endblock %}




