{% extends 'base.html.twig' %}


{% block title %}
  {% trans %}
    Dashboard
  {% endtrans %}
{% endblock %}

{% block body %}
  <h2 class="page-title center-align">
    {% trans %}
      Dashboard
    {% endtrans %}
  </h2>
  <div>
    {#only for Teacher#}
    {% if groupsUserIsTeacher|length %}
      <h3>{% trans %}My groups{% endtrans %}</h3>
      {% include 'group/groupTableWithSchedule.html.twig' with { 'groups': groupsUserIsTeacher} only %}
    {% endif %}
    <h3>{% trans %}Learning groups today{% endtrans %}</h3>
        {% include 'group/groupTableWithSchedule.html.twig' with { 'groups': groupsToday} only %}

    <h3>{% trans %}Learning groups tomorrow{% endtrans %}</h3>
        {% include 'group/groupTableWithSchedule.html.twig' with { 'groups': groupsTomorrow} only %}

    <h3>{% trans %}Learning groups in 7 days{% endtrans %}</h3>
        {% include 'group/groupTableWithSchedule.html.twig' with { 'groups': groupsIn7Days} only %}
  </div>


{% endblock %}




