<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="white-text center-align">© MOS 2018</p>
            </div>
        </div>
    </div>
</footer>