.group-form {

  .group-form__address {
    padding: 10px 20px;
  }

  .group-form__error-wrapper {
    margin: 0;

    .group-form__error {
      color: rgb(244, 67, 54);
      font-size: 12px;
    }
  }

  .group-form__add-button {
    float: right;
  }
}