.group-form {
  padding: 10px 30px;

  .group-form__title {
    padding: 0 .75rem;
  }

  .group-form__error-wrapper {
    margin: 0;

    .group-form__error {
      color: rgb(244, 67, 54);
      font-size: 12px;
    }
  }

  .group-form__add-button {
    float: right;
    line-height: 56px;
    margin: 20px 0;
  }

  .group-form__submit-button-wrapper {
    clear: both;
    margin-top: 20px;
    @extend .center-element;
  }

  input[type=text]:not(.browser-default).group-form__input--invalid {
    border-bottom: 1px solid #f44336;
  }
}