$primary-color: #1565C0;

@mixin border {
  margin-bottom: 20px;
  border-left: 2px solid $primary-color;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.border-shadow {
  @include border;
  padding: 15px 25px;
  margin-bottom: 35px;

  & > * {
    margin-top: 0;
  }

  &.border-shadow--no-x-padding {
    padding: 15px 0;
  }
}

.small-container {
  width: 50%;
  margin: 0 auto;

  @media only screen and (max-width: 601px) {
    width: 100%;
  }
}

.row, .col .row {
  margin: 0;
  padding: 0;
}

.page-title {
  margin-bottom: 50px;
}

.page-actions {
  margin-bottom: 25px;
}

.btn--action {
  margin-bottom: 15px;
}

.l-hide {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.s-hide {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.s-float-none {
  @media screen and (max-width: 600px) {
    float: none !important;
  }
}

.m-hide {
  @media screen and (max-width: 993px) {
    display: none;
  }
}

.center-element {
  position: relative;

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.add-button {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  text-align: center;

  .add-button__icon {
    color: #FFF;
    font-size: 34px;
    line-height: 75px;
  }
}

.back-button {
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    margin-left: 30px;
  }

  .back-button__text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
  }
}