.participant {
  &.participant--active {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  .participant__additional {
    display: none;
  }

  .participant__button-wrapper {
    height: 54px;
    margin: 15px 0;
    @extend .center-element;
  }

  .participant__remove-button,
  .participant__password-generate-button {
    font-size: 28px;
    cursor: pointer;
    color: #9e9e9e;
  }

  .row .participant__password-wrapper {
    padding: 0;
  }
}


