.participant__additional {
  display: none;
}

.participant__submit-button-wrapper {
  position: relative;

  .participant__submit-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
  }
}