.participant {
  &.participant--active {
    @include border;
    padding: 10px 0;
  }

  &.participant--with-border {
    @media screen and (max-width: 993px) {
      @include border;
      padding: 10px 0 25px 0;
    }
  }

  .participant__additional {
    display: none;
  }

  .participant__button {
    height: 54px;
    margin: 15px 0;
    @extend .center-element;

    @media screen and (max-width: 993px) {
      margin: 0;
    }

    .participant__button--remove,
    .participant__button--generate-password {
      font-size: 28px;
      cursor: pointer;
      color: #9e9e9e;
    }
  }

  .row .participant__password-wrapper {
    padding: 0;
  }
}