{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn blue darken-3 back-button" href="{{ path('group.viewlist') }}">
        <i class="material-icons">
            arrow_back
        </i>
        <span class="back-button__text">
            Atgal
        </span>
    </a>
    <h2 class="center-align">Group form</h2>
    {% include 'group/form.html.twig' %}
{% endblock %}
