{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-3 blue darken-3">
        <a class="btn btn-secondary" href="{{ path('group.view', {'group': id}) }}">Atgal</a>
        <h2>Group form</h2>
        {% include 'group/form.html.twig' %}
    </div>
{% endblock %}
