{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn blue darken-3 back-button" href="{{ path('group.view', {'group': id}) }}">
        <i class="material-icons">
            arrow_back
        </i>
        <span class="back-button__text">
            {% trans %}Back{% endtrans %}
        </span>
    </a>
    <h2 class="page-title center-align">
        {% trans %}Edit group form{% endtrans %}
    </h2>
    {% include 'group/form.html.twig' %}
{% endblock %}
