{% extends 'base.html.twig' %}

{% block title %}Groups list view{% endblock %}



{% block body %}
<h1>Groups list view</h1>

  <ul>
    {% for group in groups %}

      <li><a href="{{ path('group.view', {'group': group.id}) }}">
          {{ group.id }} {{ group.address }}) </a></li>

    {% endfor %}
  </ul>

{% endblock %}